Validador/Service References/SaldosServiceReference/SueldosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConsultaSueldo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_Prima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_Subsidio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_Sueldo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaSueldo" nillable="true" type="tns:ConsultaSueldo" />
</xs:schema>